.App {
  padding: 1% 6% 2% 6%;
}

.navbar {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  border-top: 1px solid rgb(234, 236, 238);
  border-bottom: 1px solid rgb(234, 236, 238);
  margin-bottom: 20px;
}

.navbar a {
  padding: 11px 16px;
  color: rgb(23, 23, 23);
  text-decoration: none;
}

.avatar-img {
  max-width: 150px;
}

.resume-name {
  font-size: 34px;
}

.resume-heading {
  font-size: 17px;
}

.contact {
  display: flex;
  align-items: flex-start;
}

.contact-detail {
  list-style: none;
  margin: 0;
  padding-left: 30px;
  line-height: 22.4px;
}

.contact-detail span {
  font-weight: 400;
}

.pub-list {
  margin-bottom: 25px;
}

.pub-title {
  font-weight: bold;
  color: rgb(52, 114, 206);
}

footer {
  display: flex;
  align-items: center;
  padding: 3% 6%;
  /* height: 80px; */
  background-color: rgb(234, 236, 238);
}